<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '/wallet',
                type: 'POST',
                success: function (response) {
                    $('#public_key').val(response['public_key']);
                    $('#private_key').val(response['private_key']);
                    $('#blockchain_address').val(response['blockchain_address']);
                    console.info(response)
                },
                error: function (error) {
                    console.error(error)
                }
            })

            $('#send_money').click(function () {
                let confirm_text = "Are you sure?"
                let confirm_result = confirm(confirm_text)
                if (confirm_result !== true) {
                    alert('Canceled')
                    return
                }
                let transaction_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_blockchain_address': $('#blockchain_address').val(),
                    'recipient_blockchain_address': $('#recipient_blockchain_address').val(),
                    'sender_public_key': $('#public_key').val(),
                    'value': $('#send_amount').val()
                }
                $.ajax({
                    url: '/transaction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {

                        /* if ($.parseJSON(response.body).message === 'fail') {
                            alert('failed')
                            return
                        } */
                        console.info(response)
                        alert('Success')
                    },
                    error: function (error) {
                        alert('Send Failed')
                        console.error(error)
                    }
                })
            })
        })
    </script>
</head>

<body>
    <div>
        <h1>Wallet</h1>
        <div id="wallet_amount">0</div>
        <button id="reload_wallet">Reload Wallet</button>
        <p>Public Key</p>
        <textarea name="public_key" id="public_key" cols="100" rows="1"></textarea>
        <p>Private Key</p>
        <textarea name="private_key" id="private_key" cols="100" rows="1"></textarea>
        <p>Blockchain Address</p>
        <textarea name="blockchain_address" id="blockchain_address" cols="100" rows="1"></textarea>
    </div>
    <hr />
    <div>
        <h1>Send Money</h1>
        <div>Blockchain Address: <input id="recipient_blockchain_address" size="100" type="text"> <br>
            Amount: <input id="send_amount" type="number"> <br>
            <button id="send_money">Send</button>
        </div>
    </div>
</body>

</html>